
<app-dashboard></app-dashboard>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <table class="table table-hover">
                <tr>
                    <td>Username</td><td>:</td><td> <b>Rama</b> </td>
                </tr>
                <tr>
                    <td>Email</td><td>:</td><td> <b>rama@gmail.com</b> </td>
                </tr>
                <tr>
                    <td>Address</td><td>:</td><td> <b>Jakarta</b> </td>
                </tr>
                <tr>
                    <td>Phone</td><td>:</td><td> <b>08123455645</b> </td>
                </tr>
            </table>
        </div>
    </div>
</div>