<div class="container mt-3">
        <div class="d-flex justify-content-around mb-3">
            <div>
                <h3>Cinta Coding</h3>
            </div>  
            <div>
                <h3> <u>Post</u> </h3>
            </div>  
            <div>
                <h3 type="button" routerLink="/profile">Welcome, <span class="text-primary">Rama</span> </h3>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-lg-8">
                <p>pagination</p>
            </div>
        </div>



</div>
